<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Flask React</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Flask React</h1>
      <br>
      <div id="main"></div>
    </div>
    <!-- scripts -->
    <script src="{{ url_for('static', filename='node_modules/react/dist/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='node_modules/react-dom/dist/react-dom.min.js') }}"></script>
    <!-- TODO change to local -->

		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/three.js/r69/three.js"></script>
   
    <script src="{{ url_for('static', filename='scripts/js/build.js') }}"></script>
  </body>
</html>
